{% extends 'website/base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<h3>Home page is this</h3>
<h5>{{random_data}}</h5>

{% if request.user.is_authenticated %}

<form action="" method="POST">
    {% csrf_token %}
    <input type="text" name="unique_code">
    <button>Play Quiz</button>
</form>
<br>
<h2>List of All Quizs</h2>
{% for quiz in quizs %}
<li><a href="{% url 'quizapp:quizstart' quiz.unique_code %}">{{quiz.title}}</a></li>
{% endfor %}
{% endif %}
{% endblock %}


{% block js %}
<script>
    var source = new EventSource("/sse");
    source.onmessage = function (event) {
        alert(event.data)
    }; 
</script>
{% endblock %}