<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" />
    {% block css %}

    {% endblock %}
</head>

<body class="container-fluid">
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="">Quiz World</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link {% block activehome %}{% endblock %}" aria-current="page" href="{% url 'website:home' %}">Website</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% block activedashboard %}{% endblock %}" href="{% url 'quizapp:quizhostdashboard' %}">Host Dashboard</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link  {% block quizsessionlistactive %}{% endblock %}" href="{% url 'quizapp:hostquizsessionlist' %}">Your Creation</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link  {% block quizsessioncreateactive %}{% endblock %}" href="{% url 'quizapp:hostquizsessioncreate' %}">Create New</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'website:logout' %}">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div>
        <p>User: {{request.user}}</p>
    </div>

    {% block content %}

    {% endblock %}

    <div class="row mt-3">
        <div class="col-md-12">
            <div class="bg-dark">
                <p class="text-white text-center p-3">Being Developed by: Dipak Niroula</p>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
    {% block js %}

    {% endblock %}

</body>

</html>