{% extends 'hosts/dashboardbase.html'%}

{% block title %}List of Quiz Session{% endblock %}
{% block quizsessionlistactive %}active{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Title</th>
                    <th scope="col">Total Questions</th>
                    <th scope="col">Associated Questions</th>
                    <th scope="col">Created At</th>
                </tr>
            </thead>
            <tbody>
                {% for quiz in quiz_list %}
                <tr>
                    <th scope="row">{{forloop.counter}}</th>
                    <td><a href="{% url 'quizapp:hostquizsessiondetail' quiz.unique_code %}">{{quiz.title}}</a></td>
                    <td>{{quiz.total_questions}}</td>
                    <td>{{quiz.question_set.count}}</td>
                    <td>{{quiz.created_at}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}